
h1{
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}

.tbl-content{
  height:400px;
  overflow-x:auto;
  margin-top: -40px;
}
th{
  padding: 30px;
  text-align: centre;
  vertical-align:middle;
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
}
td{
  padding: 40px;
  text-align: centre;
  vertical-align:middle;
  font-weight: 300;
  font-size: 23px;

}


section{
  margin: px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: white;
}
.made-with-love i {
  font-style: normal;
  color: white;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: white;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
